body {
    font-family: sans-serif;
    margin: 0;
    background-color: #121212; /* Primary Background */
    color: #E0E0E0; /* Primary Text Color */
}

nav {
    background-color: #6A0DAD; /* Deeper purple for nav bar */
    padding: 1em;
    text-align: center;
}

nav a {
    color: #FFFFFF; /* Nav a color */
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    width: 80%;
    margin: 20px auto;
    background-color: #1E1E1E; /* Secondary Background */
    padding: 20px;
    box-shadow: 0 0 10px rgba(155, 89, 182, 0.3); /* Purple glow */
}

h1, h2 {
    color: #BB86FC; /* Lighter purple for headers */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #333333; /* Darker border */
    padding: 10px 0;
}

li:last-child {
    border-bottom: none;
}

a {
    color: #9B59B6; /* Accent Purple */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #BB86FC; /* Lighter Purple for hovers */
}

form div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #555555; /* Border color */
    border-radius: 4px;
    box-sizing: border-box; /* Important to include padding and border in the element's total width and height */
    background-color: #2C2C2C; /* Background color */
    color: #E0E0E0; /* Text color */
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #9B59B6; /* Button Background */
    color: #FFFFFF; /* Button Text */
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #BB86FC; /* Lighter Purple for hovers */
}

footer {
    text-align: center;
    padding: 1em 0;
    font-size: 0.9em;
    color: #AAAAAA; /* Lighter grey for footer text */
}

.post-image {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 4px; /* Optional: adds rounded corners */
}

.thumbnail-image {
    max-width: 150px; /* Slightly larger for better visibility */
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px; /* Optional: adds rounded corners */
    border: 1px solid #ddd; /* Optional: adds a light border */
    padding: 3px; /* Optional: padding around the image */
}

.edit-preview-image {
    max-width: 200px;
    max-height: 200px; /* Added to prevent overly tall previews */
    display: block;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 3px;
}
